.bleu, .vert{
   height: 10em;
   width: 10em;
   border: 0.2em solid #000;
   margin: 0.2em;
   border-radius: 20%; 
   text-align: center;
   float: left;
}
.bleu{
    background-color: #7a43e0;
}
.vert{
    background-color: #43e07a;
}
.clear{
    clear: both;
}