.imageFond{
    background: #000 url("https://cdn.pixabay.com/photo/2016/06/23/03/26/coffee-grains-1474601__480.jpg") no-repeat;
    background-size: cover;
    height: 500px;
}
.imageFond p{
    width: 75%;
    margin: 100px auto 200px auto;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 120%;
    border-radius: 10px;
}
h3{
    padding: 70px;
}